$light: #fff;
$primary-color: #1A2F04;
$secondary-color: #5D8402;
$success: #5D8402;
$black: #000;
$alert:#c7254e;
$border-color:#dedede;
$primary-font:'Roboto', sans-serif;
$secondary-font:'Volkhov', serif;
$icon-font: 'themefisher-font';
